.discovery-page-container{
    margin-top: 160px;
    scroll-margin-top:160px ;
}

.discovery-page-content{

}

.discovery-rail-container{
    margin: 30px 10%;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
/* 
.banner {
    margin-top: 2%;
} */


@media (max-width: 768px) {
    .discovery-rail-container{
        width:100%;
        margin: 30px 0;
    }
}
