.create-event-component-container {
    width: 60%;
    margin-left: 20%;
}

.create-event-form-datepicker {
    margin-left: 3%;
    margin-bottom: 2%;
}

.create-event-form-button {
    float: right;
}

.create-event-form-time-input-fields {
    display:grid;
    grid-template-columns: 50% 50%;
}