
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');
.zoom{
    transition: transform .2s; 
  }
  
.zoom:hover {
    transform: scale(1.05);
}

.clickable{
    cursor: pointer;
}

.card{
    margin: 30px 15px;
}

.card p{
    font-style: italic;
}