.loginPage{
    display: inline-flex;
    margin-top: 150px;
    height: 450px;
    overflow: hidden;
}
.loginPage-form-container{
    width: 60%;
}
.loginPage-logo-container{
    width: 40%;
    height:200px;
    top:0;
}
.loginPage-logo{
    font-size: 40px;
    border: solid black 2px;
    border-radius: 5px;
    width: 70%;
    margin-left: 15%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.loginPage-info{
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    width: 99%;
    margin-top: 20px;
    height: 330px;
    line-height: 40px;
    padding:20px;
}
.loginPage-form-container{
    border: solid black 2px;
    width: 50%;
    margin-left: 10%;
}