.login-form-input-field {
    margin-bottom: 2%;
}

.login-form-input-container {
    width: 60%;
    margin-left: 20%;
}

.login-form-container {
    padding-top: 30px;
    text-align: center;
}

.create-account-container {
    margin: 30px;
}

.form-submit-button {
    margin-top: 20px;
}