.login-form-input-field {
    margin-bottom: 10px;
}

.login-form-input-container {
    width: 60%;
    margin-left: 20%;
}

.login-form-container {
    margin-top: 100px;
    padding: 75px 0;
    text-align: center;
    border: black solid 2px
}


.form-submit-button {
    margin-top: 20px;
}